<% provide(:title, "Sign in") %>
<h1>Sign in</h1>

<%= form_tag sessions_path  do %>
  <div class="field">
    <%= label_tag :email %>
    <%= text_field_tag :email, params[:email] %>
  </div>

  <%= label_tag :password %>
  <%= password_field_tag :password, params[:password] %>

  <div class="actions"><%= submit_tag 'Sign in', class: 'btn btn-primary btn-large' %></div>

  <p>New user? <%= link_to "Sign up now!", signup_path %></p>
<% end %>
