<% provide(:title, @user.name) %>

<div class="row">

  <!-- display user info -->
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user, size: 40 %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>

  <!-- display microposts -->
  <div class="span8">
    <% if @user.microposts.any? %>
      <h3>Microposts (<%= @user.microposts.count %>)</h3>
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
      <%= will_paginate @microposts %>
    <% end %>
  </div>

</div>

<!-- display user info table -->
<div class="row">
  <section class="span12">
    <table id='user-table' class="table table-striped table-condensed">
      <thead>
        <th>Name</th>
        <th>Email</th>
      </thead>
      <tbody>
        <tr>
          <td><%= @user.name %></td>
          <td><%= @user.email %></td>
        </tr>
      </tbody>
    </table>
  </section>
</div>
